<footer>
    <article class="main-footer">
        <section>
            <img src="/images/logo.png">
        </section>
        <section class="contacto">
            <p><strong>Contacto</strong></p>
            <ul type="none">
                <li>Teléfono</li>
                <li>toysplanet@info.com</li>
                <li>Sucursales</li>
                <li>Trabajá con nosotros</li>
            </ul>
        </section>
        <section class="nosotros">
            <p><strong>Nosotros</strong></p>
            <ul type="none">
                <li><a href="/quienes-somos">¿Quiénes somos?</a></li>
                <li><a href="/nuestra-historia">Nuestra historia</a></li>
                <li><a href="/politica-de-privacidad">Políticas</a></li>
                <li><a href="/terminos">Terminos & Condiciones</a></li>
            </ul>
        </section>
        <section class="ayuda">
            <p><strong>Ayuda</strong></p>
            <ul type="none">
                <li><a href="/#">Atención al cliente</a></li>
                <li><a href="/#">Devoluciones</a></li>
                <li><a href="https://www.buenosaires.gob.ar/defensaconsumidor/direccion-general">Defensa del consumidor</a></li>
            </ul>
        </section>
    </article>
    <div class="copyright">
        <p>Copyright © 2022 Toys Planet</p>
    </div>
</footer>