<header class="main-header">
    <div class="bottom-header">
        <a style="margin: 0 20px;" href="/" class="logo"><img src="/images/logo.png"></a>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
        <nav class="bottom-header-right">
            <form class="search-bar" action="#" method="GET">
                <input class="fontAwesome" type="text" placeholder="Buscar producto..." />
                <button>Buscar</button>
            </form>
            <div class="botones-nav">
                <% if(!locals.isLogged) { %> 
                <a class="boton-registro" href="/user/register">Registro</a>
                <a class="boton-login" href="/user/login">Inicio Sesión</a>
                <% } else { %> 
                <a class="boton-registro" href="/user/logout">Cerrar Sesión</a>
                <a class="boton-registro" href="/user/profile">Perfil: <%= locals.userLogged.fullName %> </a>
                <% } %> 
            </div>
        </nav>
        <div class="boton-carrito">
            <a href="/carrito" class="cart" style="text-decoration: none;">
                <i class="fa fa-shopping-bag bolsa" aria-hidden="true">
                </i><p class="button-cart">$0,00</p>
            </a>
        </div>
    </div>
</header>