
<header>
    <div class="main-header">
        <div class="bottom-header">
            <a style="margin: 0 20px;" href="/" class="logo"><img src="/images/logo.png"></a>
            <nav class="bottom-header-right">
                <form class="search-bar" method="GET" action="/productos/buscar">
                    <input class="fontAwesome" type="search" name="toys" placeholder="Buscar producto..."
                        aria-label="Search">
                    <button class="button-buscar" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    <button class="button-buscar-mobile" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
                <div class="botones-nav">
                    <% if(!locals.isLogged) { %>
                        <a class="boton-registro" href="/user/register"><i class="fa-solid fa-circle-user"></i> Registro</a>
                        <a class="boton-login" href="/user/login"><i class="fa-solid fa-right-to-bracket"></i> Inicio Sesión</a>
                        <% } else { %>
                            <a class="boton-registro" href="/user/logout"><i class="fa-solid fa-right-from-bracket"></i> Cerrar Sesión</a>
                            <a class="boton-registro" href="/user/profile"><i class="fa-solid fa-user"></i> Perfil: <%= locals.userLogged.name %> </a>
                            <% } %>
                </div>
            </nav>
            <div class="boton-carrito">
                <a href="/carrito" class="cart" style="text-decoration: none;">
                    <p class="button-cart"><span class="material-symbols-outlined">
                        shopping_bag
                        </span>$0,00</p>
                </a>
            </div>
        </div>
    </div>
    <div class="downheader">
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/productos/listar">Productos</a></li>
            <li><a href="/quienes-somos">¿Quiénes somos?</a></li>
            <li><a href="/preguntas">Preguntas frecuentes</a></li>
        </ul>
    </div>
    <div class="menu-mobile"> 
        <ul >
        <li><a href="/productos/listar">Productos</a></li>
        <li ><a href="/user/login"><i class="fa-solid fa-right-to-bracket"></i> <i class="fa-solid fa-user"></i></a></li>
    </ul>
    </div>
</header>