
<header>
    <div class="main-header">
        <div class="bottom-header">
            <a style="margin: 0 20px;" href="/" class="logo"><img src="/images/logo.png"></a>

            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
                <div class="dropdown">Menu</div>
            </div>
            <nav class="bottom-header-right">
                <form class="search-bar" method="GET" action="/productos/buscar">
                    <input class="fontAwesome" type="search" name="toys" placeholder="Buscar producto..."
                        aria-label="Search">
                    <button class="button-buscar" type="submit">Buscar</button>
                </form>
                <div class="botones-nav">
                    <% if(!locals.isLogged) { %>
                        <a class="boton-registro" href="/user/register"><span class="material-symbols-outlined">
                            account_box
                            </span>Registro</a>
                        <a class="boton-login" href="/user/login"><span class="material-symbols-outlined">
                            login
                            </span>Inicio Sesión</a>
                        <% } else { %>
                            <a class="boton-registro" href="/user/logout"><span class="material-symbols-outlined">
                                logout
                                </span>Cerrar Sesión</a>
                            <a class="boton-registro" href="/user/profile"><span class="material-symbols-outlined">
                                person
                                </span>Perfil: <%= locals.userLogged.name %> </a>
                            <% } %>
                </div>
            </nav>
            <div class="boton-carrito">
                <a href="/carrito" class="cart" style="text-decoration: none;">
                    <p class="button-cart"><span class="material-symbols-outlined">
                        shopping_bag
                        </span>$0,00</p>
                </a>
            </div>
        </div>
    </div>
    <div class="downheader">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/productos/listar">Productos</a></li>
            <li><a href="/quienes-somos">Quiénes somos?</a></li>
            <li><a href="/productos/listar">Productos</a></li>
        </ul>
    </div>
</header>