<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %> 
    <title>Carrito de compras</title>
</head>
<body>
    <%- include('./partials/header.ejs') %> 
    <h2 style="margin: 80px; text-align: center;">Tu carrito está vacío</h2>
    <%- include('./partials/footer.ejs') %> 
</body>
</html>