<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %> 
    <title>Crear producto</title>
</head>

<body>
    <div class="ofertasfixed">
        <i class="fas fa-fire">OFERTAS del día!</i>
    </div>
    <div class="cartel-contenedor">
        <div class="cartelfixed">
            <p>Con tu compra superior a $7500, tenés envío gratis</p>
        </div>
    </div>
    <%- include('./partials/header.ejs') %> 
          
        <section class="main-form">
            <h2 style="margin: 20px;">Crear producto</h2>
            <div class="erroresFront">
                <ul></ul>
            </div>
            <form action="/productos/crear" method="POST" enctype="multipart/form-data" class="register">
            <div class="formbox">
                <div class="primeralinea">
                    <input type="text" name="name" id="name" placeholder="nombre del producto" required>
                </div>
                <div class="segundalinea">
                    <input type="text" name="description" id="description" placeholder="descripción" required>
                </div>
                <div class="terceralinea">
                    <input type="file" name="productImage" id="avatar"  placeholder="imagen" >
                </div>
                <div class="cuartalinea">
                    <input type="text" name="category_id" placeholder="id de categoría" required>
                </div>
                <div class="quintalinea">
                    <input type="text" name="price" id="price" placeholder="precio" required>
                </div>
            </div>
            <div class="caja-boton">
               <button  type="submit" class="boton-submit">Crear</button>
            </div>
            </form>
    </section>






        
</section>
<script src="/js/validacionProductosFront.js"></script>
</body>
<%- include('./partials/footer.ejs') %> 
</html>