<!DOCTYPE html>
<html lang="en">
<head>
    <title>Toys Planet</title>
    <%- include('./partials/head.ejs') %> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jssor-slider/27.1.0/jssor.slider.min.js"></script>
</head>

<body>
    <div class="ofertasfixed">
        <i class="fas fa-fire">OFERTAS del día!</i>
    </div>
    <div class="cartelfixed">
        <p>Con tu compra superior a $7500, tenés <strong>envío gratis</strong></p>
    </div>
    <%- include('./partials/header.ejs') %> 
    <main>
       
    <div class="fondo">
        <div class="circulos">
            <a href="productos/videojuegos"><p id="circuloverde">Video juegos</p></a>
            <a href="productos/airelibre"><p id="circulorojo">Aire<br>
                libre</p></a>            
            <a href="productos/demesa"><p id="circuloazul">Juegos <br>de mesa</p></a>
            <a href="productos/juguetes"><p id="circuloamarillo">Juguetes</p></a>
        </div>
        <div class="priceMax">
            <a href="/productos/menos2000"><p class="pricebox">Menos de $2000</p></a>
            <a href="/productos/menos4000"><p class="pricebox">Menos de $4000</p></a>
            <a href="/productos/menos6000"><p class="pricebox">Menos de $6000</p></a>
        </div>

    </div>
    </main>
    <%- include('./partials/footer.ejs') %> 
    <script src="/js/carrussel.js"></script>
</body>

</html>
