<!DOCTYPE html>
<html lang="en">
<head>
    <title>Toys Planet</title>
    <%- include('./partials/head.ejs') %> 
</head>

<body>
    <div class="ofertasfixed">
        <i class="fas fa-fire">OFERTAS del día!</i>
    </div>
    <div class="cartel-contenedor">
        <div class="cartelfixed">
            <p>Con tu compra superior a $7500, tenés envío gratis</p>
        </div>
    </div>
    <%- include('./partials/header.ejs') %> 
    <main>
        <img class="carrusel" src="/images/ejemplo-imagen-carrusel.png" alt="carrusel">
        <div class="circulos">
            <p id="circuloverde">AIRE LIBRE</p>
            <p id="circulorojo">ARTE</p>
            <p id="circuloazul">DE MESA</p>
            <p id="circuloamarillo">BEBÉS</p>
        </div>
    </main>
    <%- include('./partials/footer.ejs') %> 
</body>

</html>