<!DOCTYPE html>
<html lang="en">
<head>
    <title>Toys Planet</title>
    <%- include('./partials/head.ejs') %> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jssor-slider/27.1.0/jssor.slider.min.js"></script>
</head>

<body>
    <div class="ofertasfixed">
        <i class="fas fa-fire">OFERTAS del día!</i>
    </div>
    <div class="cartel-contenedor">
        <div class="cartelfixed">
            <p>Con tu compra superior a $7500, tenés envío gratis</p>
        </div>
    </div>
    <%- include('./partials/header.ejs') %> 
    <main>
        <!-- <img class="carrusel" src="/images/ejemplo-imagen-carrusel.png" alt="carrusel"> -->
        <section class="wow fadeIn example no-padding no-transition slider-top"> 
            <div style="min-height: 50px;">
            <!-- Jssor Slider Begin -->
            
           
            <div id="slider1_container" style="visibility: hidden; position: relative; margin: 0 auto;
            top: 0px; left: 0px; width: 1300px; height: 500px; overflow: hidden;">
                <!-- Loading Screen -->
                <div data-u="loading" class="jssorl-009-spin" style="position:absolute;top:0px;left:0px;width:100%;height:100%;text-align:center;background-color:rgba(0,0,0,0.7);">
                    <img style="margin-top:-19px;position:relative;top:50%;width:38px;height:38px;" src="https://www.jssor.com/theme/svg/loading/static-svg/spin.svg" />
                </div>
    
                <!-- Slides Container -->
                <div data-u="slides" style="position: absolute; left: 0px; top: 0px; width: 1300px; height: 500px; overflow: hidden;">
                    <div>
                        <img data-u="image" src="/images/carrusselimage.png" class="slider" />
                    </div>
                    <div>
                        <img data-u="image" src="/images/funko-pop-banner.jpg" class="slider" />
                    </div>
                    <div>
                        <img data-u="image" src="/images/hot-wheels-banner.jpg" class="slider" />
                    </div>
                    <div>
                        <img data-u="image" src="/images/lego-banner.png" class="slider" />
                    </div>
                    <div>
                        <img data-u="image" src="/images/ejemplo-imagen-carrusel.png"  class="slider" />
                    </div>
                </div>
                
                <!--#region Bullet Navigator Skin Begin -->
                <!-- Help: https://www.jssor.com/development/slider-with-bullet-navigator.html -->
                <style>
                  
                </style>
                <div data-u="navigator" class="jssorb031" style="position:absolute;bottom:12px;right:12px;" data-autocenter="1" data-scale="0.5" data-scale-bottom="0.75">
                    <div data-u="prototype" class="i" style="width:16px;height:16px;">
                        <svg viewBox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                            <circle class="b" cx="8000" cy="8000" r="5800"></circle>
                        </svg>
                    </div>
                </div>
                <!--#endregion Bullet Navigator Skin End -->
            
                <!--#region Arrow Navigator Skin Begin -->
                <!-- Help: https://www.jssor.com/development/slider-with-arrow-navigator.html -->
                <style>
                   
                </style>
                <div data-u="arrowleft" class="jssora051" style="width:55px;height:55px;top:0px;left:25px;" data-autocenter="2" data-scale="0.75" data-scale-left="0.75">
                    <svg viewBox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                        <polyline class="a" points="11040,1920 4960,8000 11040,14080 "></polyline>
                    </svg>
                </div>
                <div data-u="arrowright" class="jssora051" style="width:55px;height:55px;top:0px;right:25px;" data-autocenter="2" data-scale="0.75" data-scale-right="0.75">
                    <svg viewBox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                        <polyline class="a" points="4960,1920 11040,8000 4960,14080 "></polyline>
                    </svg>
                </div>
                <!--#endregion Arrow Navigator Skin End -->
            </div>
            <!-- Jssor Slider End -->
        </div>
    </section>
    <div class="fondo">
        <div class="circulos">
            <p id="circuloverde">AIRE LIBRE</p>
            <p id="circulorojo">ARTE</p>
            <p id="circuloazul">DE MESA</p>
            <p id="circuloamarillo">BEBÉS</p>
        </div>
        <div class="priceMax">
            <p class="pricebox">Menos de $2000</p>
            <p class="pricebox">Menos de $4000</p>
            <p class="pricebox">Menos de $6000</p>
        </div>

    </div>
    </main>
    <%- include('./partials/footer.ejs') %> 
    <script src="/js/carrussel.js"></script>
</body>

</html>