<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toys Planet</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <nav>
            <img src="/images/logo toys planet.png">
            <article class="cajaazulnav">
            <p>Sucursales</p>
            <p>Contacto</p>
            <p>Mis pedidos</p>
            <img id="carrito" src="/images/carrito.png" alt="Carrito de compras">
            <p class="totalplata">$0,00</p>
            </article>
            <article class="buscadornav">
                <p>Categorías</p>
                <p id="ofertas">OFERTAS</p>
                <section id="buscador">
                    <p>Qué estabas buscando?</p>
                    <img src="/images/lupa.png" alt="lupita busqueda">
                    </section>
                <p id="ingreso"><a href="/login"></a><strong>Ingreso</strong></p>
                <p id="registro"><a href="/register"></a><strong>Registro</strong></p>
            </article>
        </nav>
    </header>
    <main>
<img class="carrusel" src="/images/ejemplo imagen carrusel.png" alt="carrusel">
<p id="circuloverde">AIRE LIBRE</p>
<p id="circulorojo">ARTE</p>
<p id="circuloazul">DE MESA</p>
<p id="circuloamarillo">BEBÉS</p>
    </main>
    <footer>
        <article class="footerbox"> 
        <img src="/images/logo toys planet.png">
        <section class="contacto">
        <p><strong>Contacto</strong></p>
        <ul type="none">
            <li>Teléfono</li>
            <li>toysplanet@info.com</li>
            <li>Sucursales</li>
            <li>Trabajá con nosotros</li>
        </ul>
    </section>
        <section class="nosotros">
        <p><strong>Nosotros</strong></p>
        <ul type="none">
            <li>¿Quiénes somos?</li>
            <li>Nuestra historia</li>
            <li>Políticas</li>
        </ul>
    </section>
        <section class="ayuda">
        <p><strong>Ayuda</strong></p>
        <ul type="none">
            <li>Atención al cliente</li>
            <li>Devoluciones</li>
            <li><a href="https://www.buenosaires.gob.ar/defensaconsumidor/direccion-general">Defensa del consumidor</a></li>
        </ul>
    </section>
</article>
    </footer>
</body>
</html>