<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/formstyles.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>Inicio de sesión</title>
    <!-- <style>
        html, body {
            height: 100%;
            width: 100%;
            margin: 0;
            display: table;
        }
        footer {
            display: table-row;
            height: 0;
            padding: 30px;
        }       
    </style> -->
</head>

<body>
    <header class="main-header">
        <div class="bottom-header">
            <a style="margin: 0 20px;" href="/" class="logo"><img src="/images/logo.png"></a>
            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>
            <nav class="bottom-header-right">
                <form class="search-bar" action="#" method="GET">
                    <input class="fontAwesome" type="text" placeholder="Buscar producto..." />
                    <button>Buscar</button>
                </form>
                <div class="botones-nav">
                    <a class="boton-registro" href="/register">Registro</a>
                    <a class="boton-login" href="/login">Inicio Sesión</a>
                </div>
            </nav>
            <div class="cart">
                <i class="fa fa-shopping-bag bolsa" aria-hidden="true" style="text-decoration: none;">
                <p class="button-cart">$0,00</p></i>
            </div>
        </div>
    </header>
    <section class="main-form">
        <h2 style="margin: 20px;">Iniciá sesión</h2>
        <p style="margin: 10px;">Si todavía no tenés cuenta, <a href="/register">Registrate</a></p>
        <form action="/loguearlo" method="POST" class="register">
            <div class="formbox">
                <div>
                    <input style="width: 94%" type="text" name="usuario" id="usuario" placeholder="e-mail o Nombre de usuario" required>
                </div>
                <div style="width: 100%">
                    <input style="width: 94%" type="password" name="contraseña" id="contraseña" placeholder="Contraseña" required>
                </div>
            </div>
            <div class="caja-boton">
                <a type="submit" class="boton-submit" href="/">Enviar</a>
            </div>
        </form>
    </section>
    <footer>
        <article class="main-footer">
            <section>
                <img src="/images/logo.png">
            </section>
            <section class="contacto">
                <p><strong>Contacto</strong></p>
                <ul type="none">
                    <li>Teléfono</li>
                    <li>toysplanet@info.com</li>
                    <li>Sucursales</li>
                    <li>Trabajá con nosotros</li>
                </ul>
            </section>
            <section class="nosotros">
                <p><strong>Nosotros</strong></p>
                <ul type="none">
                    <li>¿Quiénes somos?</li>
                    <li>Nuestra historia</li>
                    <li>Políticas</li>
                </ul>
            </section>
            <section class="ayuda">
                <p><strong>Ayuda</strong></p>
                <ul type="none">
                    <li>Atención al cliente</li>
                    <li>Devoluciones</li>
                    <li><a href="https://www.buenosaires.gob.ar/defensaconsumidor/direccion-general">Defensa del consumidor</a></li>
                </ul>
            </section>
        </article>
        <div class="copyright">
            <p>Copyright © 2022 Toys Planet</p>
        </div>
    </footer>
</body>

</html>