<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %> 
    <title>Inicio de sesión</title>
</head>
<div class="cartelfixed">
    <p>Con tu compra superior a $7500, tenés <strong>envío gratis</strong></p>
</div>
<%- include('./partials/header.ejs') %>
<body class="bodyform">
    
    <section class="main-form">
        <h2 style="margin: 20px;">Iniciá sesión</h2>
        <p style="margin: 10px;">Si todavía no tenés cuenta, <a class="boton-opuesto" href="/user/register">Registrate</a></p>
        <div class="erroresFront">
            <ul></ul>
        </div>
        <form action="/user/login" method="POST" class="register">
            <div class="formbox">
                <div class="segundalinea">
                    <input style="width: 94%" type="text" name="email" id="email" placeholder="e-mail">
                    <% if (locals.errors && errors.email) { %>
                        <div style="color: red;">
                            <%= errors.email.msg %> 
                        </div>
                    <% } %>
                </div>
                <div class="terceralinea">
                    <input style="width: 94%" type="password" name="password" id="password" placeholder="contraseña">
                </div>
                <div style="text-align: center;">
                    <label class="checkbox" for="myCheckboxId">
                        <input class="checkbox-input" type="checkbox" name="rememberUser" id="myCheckboxId" value="Recordame">
                        <div class="checkbox-box"></div>
                        Recordame
                    </label>
                </div>
                <br>
            </div>
            <div class="caja-boton">

                <button type="submit" class="boton-submit">Enviar</button>
            </div>
        </form>
    </section>
    <%- include('./partials/footer.ejs') %> 
    <script src="/js/validacionUsuariosFrontLogin.js"></script>  
</body>

</html>