<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %> 
</head>
<body class="error404">
<h1 class="notfound">Página no encontrada</h1>    
<h3 class="error">ERROR 404</h3>
<i class="far fa-smile"></i>
<p>Parece que la página que buscas no existe, probá volviendo al <a href="/">Inicio</a></p>
</body>
</html>