<!DOCTYPE html>
<html lang="en">
<head>
    <title>Toys Planet - Nuestra Historia</title>
    <%- include('./partials/head.ejs') %> 
</head>

<body>
   
    <%- include('./partials/footer.ejs') %> 
</body>

</html>