<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
        <title>Preguntas frecuentes</title>
</head>

<div class="cartelfixed">
    <p>Con tu compra superior a $7500, tenés <strong>envío gratis</strong></p>
</div>
<%- include('./partials/header.ejs') %>

    <body>
        <div class="pregs">
            <ul>
                <li>
                    <p class="pregunta">¿Hacen envíos?</p>
                    <p class="respuesta">Realizamos envíos a todo el país, gracias al sistema de correo privado que
                        utilizamos, nos aseguramos que reciba en condiciones óptimas su compra </p>
                </li>
                    <li>
                        <p class="pregunta">¿Cuánto tardan e llegar los pedidos?</p>
                        <p class="respuesta"> En un plazo de 7 a 15 días recibirá
                            su pedido en su domicilio</p>
                    </li>
                    <li>
                        <p class="pregunta">¿Puedo retirarlo en alguna sucursal?</p>
                        <p class="respuesta">Cuando este haciendo su compra, seleccione la opción de Retirar en suscursal, y posteriormente puede
                            acercarse a unas de nuestras sucursales autorizadas y retirar su compra</p>
                    </li>
                    <li>
                        <p class="pregunta">Reembolso</p>
                        <p class="respuesta">Como cliente tiene 90 días de garantía en
                            su compra desde el momento que la recibe y solo se hacen reembolsos por fallas del producto </p>
                    </li>
                </ul>
        </div>

        <footer>
            <!-- FOOTER -->
            <%- include('./partials/footer.ejs') %>
        </footer>
    </body>

</html>