<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
        <title>Document</title>
</head>

<div class="cartelfixed">
    <p>Con tu compra superior a $7500, tenés <strong>envío gratis</strong></p>
</div>
<%- include('./partials/header.ejs') %>

    <body>











        <footer>
            <!-- FOOTER -->
            <%- include('./partials/footer.ejs') %>
        </footer>
    </body>

</html>