<!DOCTYPE html>
<html lang="en">

<head>
    <title>Toys Planet - ¿Quienes Somos?</title>
    <%- include('./partials/head.ejs') %>
</head>

<body>
    <div class="cartel-contenedor">
        <div class="cartelfixed">
            <p>Con tu compra superior a $7500, tenés envío gratis</p>
        </div>
    </div>
    <%- include('./partials/header.ejs') %>
        <main>
            <div class="quienes">
                <img src="/images/jugueteria.png" class="img-quienes" alt="Foto portada">
                <h1>Nuestra historia </h1>
                <p>Fundada hace 35 años, Toys Planet es la jugueteria líder del mercado. Te ofrecemos el mejor surtido y
                    las últimas novedades en juegos y juguetes de todo tipo, para bebés, primera infancia, niños y niñas
                    de todas las edades. Queremos que tu experiencia de compra sea la mejor y la más divertida, por eso
                    en cada una de las sucursales distribuidas en todo el país nuestros vendedores siempre van a estar
                    dispuestos a aserorarte en lo que necesites. Te invitamos a visitarnos en nuestros locales y también
                    en nuestra tienda online donde podrás comprar de manera cómoda, segura y eficiente</p>
                </div>

                <!--
            <h2>Integrantes:</h2>
        <div class="integrantes">
            <p><strong>Laura <br>Honczaryk</strong><br>Tengo 18 años, me gusta mucho leer y patinar al aire libre escuchando música. Recién me estoy adentrando en el mundo de la programación porque empezó a llamarme la atención la idea de trabajar remoto y ahora encontré un mundo completamente nuevo para mí que me gusta e interesa mucho.</p>

            <p><strong>Juan Manuel <br>Gonella</strong><br>Tengo 36 años, soy Ingeniero Industrial y este es mi primer contacto con el mundo de la programación. Aspiro a ser desarrollador full stack para poder tener herramientas para desarrollarme profesionalmente de forma independiente. Disfruto mucho del cine, la música y siempre trato de estar actualizado con la tecnología.</p>

            <p><strong>Augusto<br> Maldonado</strong><br>Soy de Tucumán, Argentina. Tengo 25 años y soy Licenciado en Administración de Empresas, me interesa la tecnología y aprender cosas nuevas y quiero aprender más de desarrollo web y aplicarlo en lo laboral.</p>

            <p><strong>Patricio <br>Maldonado</strong><br>Soy de Tucumán, Argentina. Tengo 22 años, estudié Ingeniería en Sonido y Producción Musical en Londres. Fanático de cualquier vehículo a motor. Arranqué a programar de manera autodidacta en 2020 y con ganas de seguir aprendiendo.</p>
        </div>-->
        <br>
        </main>
        <%- include('./partials/footer.ejs') %>
</body>

</html>