<!DOCTYPE html>
<html lang="en">
<head>
    <title>Toys Planet - ¿Quienes Somos?</title>
    <%- include('./partials/head.ejs') %> 
</head>

<body>
    <div class="ofertasfixed">
        <i class="fas fa-fire">OFERTAS del día!</i>
    </div>
    <div class="cartel-contenedor">
        <div class="cartelfixed">
            <p>Con tu compra superior a $7500, tenés envío gratis</p>
        </div>
    </div>
    <%- include('./partials/header.ejs') %> 
    <main>
        <div style="max-width: 600px; margin: 0 auto">
            <h1>Ecommerce -  Toys Store 🧸🪀🥏🛹🪁♟️🧩</h1>

            <p>Este proyecto surge con la idea del ser un sitio de ecommerce para la venta de juguetes y otros productos orientados a la niñez.</p>
            <ul>    
                <li></li> Buscamos tener una propuesta visualmente atractiva con predominancia de colores vibrantes.
                <li></li> El público objetivo del proyecto es adultos que tienen que comprar o regalar un Juguete. 
                <li></li> Somos un grupo apasionado por el diseño y la simplicidad orientada a mejorar la experiencia de los usuarios.
                <li></li> Se buscará que permita consumir el contenido de forma fácil y prácticamente intuitiva.
            </ul>

            <h2>Integrantes:</h2>

            <p>Laura Honczaryk: tengo 18 años, me gusta mucho leer y patinar al aire libre escuchando música. Recién me estoy adentrando en el mundo de la programación porque empezó a llamarme la atención la idea de trabajar remoto y ahora encontré un mundo completamente nuevo para mí que me gusta e interesa mucho.</p>

            <p>Juan Manuel Gonella: Tengo 36 años, soy Ingeniero Industrial y este es mi primer contacto con el mundo de la programación. Aspiro a ser desarrollador full stack para poder tener herramientas para desarrollarme profesionalmente de forma independiente. Disfruto mucho del cine, la música y siempre trato de estar actualizado con la tecnología.</p>

            <p>Augusto Maldonado: Soy de Tucumán, Argentina. Tengo 25 años y soy Licenciado en Administración de Empresas, me interesa la tecnología y aprender cosas nuevas y quiero aprender más de desarrollo web y aplicarlo en lo laboral.</p>

            <p>Patricio Maldonado: Soy de Tucumán, Argentina. Tengo 22 años, estudié Ingeniería en Sonido y Producción Musical en Londres. Fanático de cualquier vehículo a motor. Arranqué a programar de manera autodidacta en 2020 y con ganas de seguir aprendiendo.</p>
        </div>
        <br>
    </main>
    <%- include('./partials/footer.ejs') %> 
</body>

</html>