<!DOCTYPE html>
<html lang="en">
<head>
    <title>Toys Planet</title>
    <%- include('./partials/head.ejs') %> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jssor-slider/27.1.0/jssor.slider.min.js"></script>
</head>

<body>
    <div class="ofertasfixed">
        <i class="fas fa-fire">OFERTAS del día!</i>
    </div>
    <div class="cartel-contenedor">
        <div class="cartelfixed">
            <p>Con tu compra superior a $7500, tenés envío gratis</p>
        </div>
    </div>
    <header class="main-header">
        <div class="bottom-header">
            <a style="margin: 0 20px;" href="/" class="logo"><img src="/images/logo.png"></a>
            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>
            <nav class="bottom-header-right">
                <form class="search-bar" action="#" method="GET">
                    <input class="fontAwesome" type="text" placeholder="Buscar producto..." />
                    <button>Buscar</button>
                </form>
                <div class="botones-nav">
                    <a class="boton-registro" href="/user/logout">Cerrar Sesión</a>
                </div>
            </nav>
            <div class="boton-carrito">
                <a href="/carrito" class="cart" style="text-decoration: none;">
                    <i class="fa fa-shopping-bag bolsa" aria-hidden="true">
                    </i><p class="button-cart">$0,00</p>
                </a>
            </div>
        </div>
    </header>
            <div class="container" style="margin-top: 40px;">
                <div class="row">
                    <div class="col-md-3">
                        <h2>Hi <%= user.nombreApellido %> </h2>
                            <img style="display: block;
                            margin: 0 auto;width: 200px; height: 200px;padding: 20px;" src="/images/default.jpg">
                        <br>
                        <br>
                        <div style="text-align: center; margin-bottom: 200px;" class="alert alert-success"><%= user.email %></div>
                    </div>
                </div>
            </div>
    <%- include('./partials/footer.ejs') %> 
</body>
</html>