.formbox {
    background-color: #FFE200;
    width: 100%;
    border-radius: 10px;
    margin: 0 auto;
    align-items: center;
    max-width: 700px;
}

h2 {
    color: #00B212;
    font-size: 50px;
    text-align: center;
}

p {
    text-align: center;
}

.register input {
    /* background-color: gainsboro; */
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    align-items: center;
}

.register ::placeholder {
    color: black;
}
.login ::placeholder{
    color: black;
}

.primeralinea {
    padding: 20px;
    display: flex;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.segundalinea {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.terceralinea {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.div-form-left{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.div-form-right{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.primeralinea input {
    width: 100%;
}

.segundalinea input {
    width: 100%;
}

.terceralinea input {
    width: 100%;
}

.izquierda {
    margin-right: 10px;
}

.derecha {
    margin-left:  10px;
}

.caja-boton {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.boton-submit {
    margin: 0 auto;
    background-color: #FFE200;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    color: black;
    margin: 3px;
    box-shadow: 1px 1px 0 0 #4a69bd,
                2px 2px 0 0 #4a69bd,
                3px 3px 0 0 #4a69bd,
                4px 4px 0 0 #4a69bd,
                5px 5px 0 0 #4a69bd,
                6px 6px 0 0 #4a69bd
}

.main-form {
    margin: 0 20px;
}

.boton-opuesto {
    color: #0500dd;
    text-decoration: none;
    font-weight: bold;
}

.boton-opuesto:hover {
    text-decoration: underline;
}