.formbox {
    background-color: #9bcaff;
    width: 100%;
    border-radius: 10px;
    margin: 0 auto;
    align-items: center;
    max-width: 700px;
}

h2 {
    color: #535353;
    font-size: 30px;
    text-align: center;
}

p {
    text-align: center;
}

.register input {
    /* background-color: gainsboro; */
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    align-items: center;
}

.register ::placeholder {
    color: grey;
    font-family: Arial, sans-serif;
    font-size: 13px;
}

.login ::placeholder{
    color: grey;
    font-family: Arial, sans-serif;
    font-size: 13px;
}

.primeralinea {
    padding: 20px;
    display: flex;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.segundalinea {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.terceralinea {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cuartalinea {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.quintalinea {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.div-form-left{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.div-form-right{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.primeralinea input {
    width: 100%;
}

.segundalinea input {
    width: 100%;
}

.terceralinea input {
    width: 100%;
}
.cuartalinea input{
    width: 100%;
}
.quintalinea input{
    width: 100%;
}

.izquierda {
    margin-right: 10px;
}

.derecha {
    margin-left:  10px;
}

.caja-boton {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}
.caja-botones{
    display: flex;
    justify-content: center;
    margin: 20px;
}
.boton-submit {
    margin: 10px;
    background-color: #FFE200;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    color: black;
    margin: 3px;
    box-shadow: 1px 1px 0 0 #4a69bd,
                2px 2px 0 0 #4a69bd,
                3px 3px 0 0 #4a69bd,
                4px 4px 0 0 #4a69bd,
                5px 5px 0 0 #4a69bd,
                6px 6px 0 0 #4a69bd
}

.main-form {
    margin: 0 20px;
}

.boton-opuesto {
    color: #0500dd;
    text-decoration: none;
    font-weight: bold;
}

.boton-opuesto:hover {
    text-decoration: underline;
}

/* checkbox */

.div-checkbox {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.checkbox {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 10px;
}

.checkbox-input {
    display: none;
} 

.checkbox-box {
    width: 1.25em;
    height: 1.25em;
    border: 2px solid #929292;
    background-color: white;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    flex-shrink: 0;
    transition: background 0.15s, border-color 0.15s;
}

.checkbox-box::after{
    content: '\2714';
    color: #ffffff;
}

.checkbox-input:checked +.checkbox-box {
    background: #2266dc;
    border-color: #2266dc;
}