/*colores:
amarillo #FFE200
rojo #F41809
azul #0000DD
verde #00B212
gris #D9D9D9
*/

/* MENU PRODUCTO*/
.box-allproducts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #D9D9D9;
}

.box-product{
    margin: 30px;
    padding: 20px;
    box-shadow: #000;
    width: 300px;
    background-color: white;
    border-radius: 10px;
}
.name{
    font-size:30px;
    font-weight: bold;
    text-align: center;
}
.price{
    text-align: center;
    font-size: 30px;
   font-weight: bold;
    color: #00B212;
    margin: 10px;
   
}
.description {
text-align: justify;
}
.imagelistar{
    display: flex;
    justify-content: center;
    width: 200px;
    height: 200px;
}
.add-cart{
 background-color: #00B212;
 border-radius: 20px;
 padding: 10px;
 color: white;
 text-decoration: none;
 font-weight: bold;
 font-size: 20px;
}
.idlistar {
    font-weight: bold;
}
.category{
    font-weight: bold;
}
/* DETALLE PRODUCTO*/
.box-product-detail{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}
.image-detail{
    width: 400px;
height: 400px;
border-radius: 5px;
margin-left: 60px;
box-shadow: 0px 0px 10px 0px #FFE200;
}
.box1{
    margin: 10px;
}
.box2{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
   }
.name-detail{
    font-weight: bold;
font-size: 60px;
}
.price-detail{
font-size: 50px;
color: #00B212;
background-color: rgba(#00B212, #00B212, #00B212, 0.9);
font-weight: bold;
}
.description-detail {
    width: 535px;
    text-align: justify;
    line-height: 25px;
    margin-top: 20px;

}
.category-detail{
    color:  #0000DD;
    text-align: left;
    margin-left: 60px;
    margin-bottom: 13px;
}
.vermas {
    color: red;
    font-weight: bold;
    margin-bottom: 60px;
}