/*colores:
amarillo #FFE200
rojo #F41809
azul #0000DD
verde #00B212
gris #D9D9D9
*/

.box-allproducts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #D9D9D9;
}

.box-product{
    margin: 30px;
    padding: 20px;
    box-shadow: #000;
    width: 300px;
    background-color: white;
    border-radius: 10px;
}
.name{
    font-size:30px;
    font-weight: bold;
    text-align: center;
}
.price{
    text-align: center;
    font-size: 30px;
   font-weight: bold;
    color: #00B212;
    margin: 10px;
   
}
.description {
text-align: justify;
}
.imagelistar{
    display: flex;
    justify-content: center;
    width: 200px;
    height: 200px;
}
.add-cart{
 background-color: #00B212;
 border-radius: 20px;
 padding: 10px;
 color: white;
 text-decoration: none;
 font-weight: bold;
 font-size: 20px;
}
.idlistar {
    font-weight: bold;
}
.category{
    font-weight: bold;
}
