/*colores:
amarillo #FFE200
rojo #F41809
azul #0000DD
verde #00B212
gris #D9D9D9
*/

*{
    font-family: 'Comic Neue';
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main {
    margin: auto;
    width: 100%;
}

/*HEADER*/

.ofertasfixed {
    position: fixed;
    right: 20px;
    bottom: 17px;
    color: white;
    background-color: #F41809;
    padding: 10px;
    border-radius: 10px;
    animation-name: ofertas;
    animation-duration: 1200ms;
    animation-iteration-count: infinite;
}

@keyframes ofertas {
    100%{width: 162px;
    height: 38px;}
}

.cartel-contenedor {
    padding-bottom: 10px;
}

.cartelfixed {
    position: fixed;
    color: white;
    background-color: #0000DD;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    font-size: 13px;
}

.cartelfixed p {
    padding-top: 7px;
    padding-bottom: 7px;
}

header {
    padding-top: 18px;
}

.logo {
    display: flex;
    width: 20%px;
   height: 100px;
   justify-content: flex-start; 
}
/*
.cart{
    position: fixed;
    bottom: 15px;
    right: 20px;
    height: 100px;
    align-items: center;

}*/

.cart i {
    text-align: center;
    display: flex;
   
}

i.bolsa {
    position: fixed;
    bottom: 70px;
    right: 20px;
    height: 100px;
    align-items: center;
    color: black;
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0,0, 0);
    border-radius: 50%;
    padding: 5px;
    border: 3px solid black;
    text-align: center;

}

.cart p{
    margin-right: 10px;
    margin-left: 10px;
    color: black;
}

div.bottom-header{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-image: url("/images/iconos-repetidos.png");
    background-repeat: repeat;
    background-size: 100px;
}

.bottom-header-right {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.bottom-header-right form {
width: 70%;  
}

div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin-left: 15px;
    padding: 10px;
    width: 40px;
    text-align: center;
    box-shadow: 1px 1px 0 0 #4a69bd,
                2px 2px 0 0 #4a69bd,
                3px 3px 0 0 #4a69bd,
                4px 4px 0 0 #4a69bd,
                5px 5px 0 0 #4a69bd,
                6px 6px 0 0 #4a69bd
   }

.burger-menu {
    margin: auto;
}

.fontAwesome {
    width: 85%;
    height: 27px ;
    font-family: 'Helvetica', FontAwesome, sans-serif;
}

.search-bar {
    display: flex;
    background: #6a89cc;
    width: 500px;
    border-radius: 5px;
    height: 40px;
    padding: 0.2rem 0.6rem 0.2rem 0.2rem;  
    box-sizing: border-box;
    box-shadow: 1px 1px 0 0 #4a69bd,
                2px 2px 0 0 #4a69bd,
                3px 3px 0 0 #4a69bd,
                4px 4px 0 0 #4a69bd,
                5px 5px 0 0 #4a69bd,
                6px 6px 0 0 #4a69bd
  }
  
  .search-bar input {
    border: 0;
    outline: none;
    height: 100%;
    width: 85%;
    padding: 0 1rem;
    font-size: 1rem;
    font-style: italic;
  }
  
  .search-bar button {
    margin: auto;
    background: none;
    border: none;
    color: white;
    font-weight: bolder;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 0;
    outline: none;
    margin-left: 10px;
}

.botones-nav{
    margin: 20px;
}

.button-cart{
    display: none;
    background-color: #FFE200;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    border-radius: 5px;
    margin: 3px;
    box-shadow: 1px 1px 0 0 #4a69bd,
    2px 2px 0 0 #4a69bd,
    3px 3px 0 0 #4a69bd,
    4px 4px 0 0 #4a69bd,
    5px 5px 0 0 #4a69bd,
    6px 6px 0 0 #4a69bd

}
.boton-registro, .boton-login {
    background-color: #FFE200;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    border-radius: 5px;
    margin: 3px;
    box-shadow: 1px 1px 0 0 #4a69bd,
                2px 2px 0 0 #4a69bd,
                3px 3px 0 0 #4a69bd,
                4px 4px 0 0 #4a69bd,
                5px 5px 0 0 #4a69bd,
                6px 6px 0 0 #4a69bd
}

/*main*/
.carrusel {
    width: 100%;
    display: block;
}

/*CIRCULOS*/
.circulos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 35px;
    padding: 30px;
    background-image: url("/images/iconos-repetidos.png");
    background-repeat: repeat;
    background-size: 500px;
}

.circulos p {
    margin: 10px;
}

#circulorojo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    background-color: #F41809;
    border-radius: 50%;
    transition: 200ms;
}

#circuloverde {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    background-color:#00B212;
    border-radius: 50%;
    transition: 200ms;
}

#circuloazul {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    background-color:#0000DD;
    border-radius: 50%;
    transition: 200ms;
}

#circuloamarillo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    background-color:#FFE200;
    border-radius: 50%;
    transition: 200ms;
}

#circuloazul:hover,
#circulorojo:hover,
#circuloverde:hover,
#circuloamarillo:hover{
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
  width: 215px;
  height: 215px;

}

/*FOOTER*/
footer{
     background-color: #D9D9D9;
     padding: 30px 0;
     margin: auto;
}

footer section ul {
    margin-top: 20px;
}

footer section ul li {
    margin-top: 10px;
}

footer section ul li a {
    text-decoration: none;
    color: black;
}

.main-footer {
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

.main-footer section p {
    margin-top: 40px;
    font-size: 20px;
}

footer img{
    width: 122px;
}

.copyright {
    padding-top: 40px;
    margin: 0 auto;
}
  
.copyright p {
    text-align: center;
}

/* MEDIA QUERIES */

@media (min-width: 361px) {
    
}

@media (min-width: 540px) {
    div.bottom-header {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    .burger-menu {
        display: none;
    }
}

@media (min-width: 769px) {
    .main-footer {
        display: flex;
        justify-content: space-around;
    }
    .main-footer section p {
        margin-top: 0px;
    }
    .bottom-header-right form {
        width: 50%;
    }
    .cart {
        display: flex;
    }
    .button-cart{
display: block;
    }
    i.bolsa {
        display: none;
    }
}

