/*colores:
amarillo #FFE200
rojo #F41809
azul #0000DD
verde #00B212
gris #D9D9D9
*/

*{
 /*   font-family: 'Comic Neue';*/
 font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main {
    margin: auto;
    width: 100%;
}

/*HEADER*/
/*MENU DESPLEGABLE
.dropdown {
    background-color: red;
    padding: 10px;
    display: inline-block;
    position: relative;
}
.dropdown :hover {

}*/


.productosfixed{
    position: fixed;
    left: 20px;
    bottom: 17px;
    color: #000;
    background-color: white;
    padding: 10px;
   border-radius: 10px;
   border: 1px solid black;
}

.ofertasfixed {
    position: fixed;
    right: 20px;
    bottom: 17px;
    color: white;
    background-color: #644a48;
    padding: 10px;
    border-radius: 10px;
    animation-name: ofertas;
    animation-duration: 1200ms;
    animation-iteration-count: infinite;
}

@keyframes ofertas {
    100%{width: 162px;
    height: 38px;}
}

.cartel-contenedor {
    padding-bottom: 10px;
}

.cartelfixed {
    position: fixed;
    color: white;
    background-color: #4b69bd;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    font-size: 13px;
    z-index: 2;
}

.cartelfixed p {
    padding-top: 7px;
    padding-bottom: 7px;
}

header {
    padding-top: 18px;
}

.logo {
    display: flex;
    width: 20%px;
   height: 80px;
   justify-content: flex-start;
}
/*
.cart{
    position: fixed;
    bottom: 15px;
    right: 20px;
    height: 100px;
    align-items: center;

}*/

.cart i {
    text-align: center;
    display: flex;
   
}

i.bolsa {
    position: fixed;
    bottom: 70px;
    right: 20px;
    height: 100px;
    align-items: center;
    color: black;
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0,0, 0);
    border-radius: 50%;
    padding: 15px;
    border: 3px solid black;
    text-align: center;

}

.cart p{
    margin-right: 10px;
    margin-left: 10px;
    color: black;
}

div.bottom-header{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: white
}
.bottom-header-right {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.bottom-header-right form {
width: 70%;  
}

div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin-left: 15px;
    padding: 10px;
    width: 40px;
    text-align: center;
    box-shadow: 1px 1px 0 0 #4a69bd,
                2px 2px 0 0 #4a69bd,
                3px 3px 0 0 #4a69bd,
                4px 4px 0 0 #4a69bd,
                5px 5px 0 0 #4a69bd,
                6px 6px 0 0 #4a69bd
   }

.burger-menu {
    margin: auto;
}

.fontAwesome {
    width: 85%;
    height: 27px ;
    font-family: 'Helvetica', FontAwesome, sans-serif;
}

.search-bar {
    display: flex;
    background: #0000DD;
    width: 500px;
    border-radius: 5px;
    height: 40px;
    padding: 0.2rem 0.6rem 0.2rem 0.2rem;  
    box-sizing: border-box;/*
    box-shadow: 1px 1px 0 0 #4a69bd,
                2px 2px 0 0 #4a69bd,
                3px 3px 0 0 #4a69bd,
                4px 4px 0 0 #4a69bd,
                5px 5px 0 0 #4a69bd,
                6px 6px 0 0 #4a69bd*/
  }
  
  .search-bar input {
    border: 0;
    outline: none;
    height: 100%;
    width: 85%;
    padding: 0 1rem;
    font-size: 1rem;
    font-style: italic;
  }
  
  .search-bar button {
    margin: auto;
    background: none;
    border: none;
    color: white;
    font-weight: bolder;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 0;
    outline: none;
    margin-left: 10px;
}

.botones-nav {
    margin: 20px;
}

.boton-carrito {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    margin: 20px;
}

.button-cart {
    display: none;
    background-color: #FFE200;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    border-radius: 5px;
    margin: 3px;/*
    box-shadow: 1px 1px 0 0 #4a69bd,
    2px 2px 0 0 #4a69bd,
    3px 3px 0 0 #4a69bd,
    4px 4px 0 0 #4a69bd,
    5px 5px 0 0 #4a69bd,
    6px 6px 0 0 #4a69bd*/

}
.boton-registro, .boton-login {
    background-color: #FFE200;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    border-radius: 5px;
    margin: 3px;/*
    box-shadow: 1px 1px 0 0 #4a69bd,
                2px 2px 0 0 #4a69bd,
                3px 3px 0 0 #4a69bd,
                4px 4px 0 0 #4a69bd,
                5px 5px 0 0 #4a69bd,
                6px 6px 0 0 #4a69bd*/
}

/*main*/
.carrusel {
    width: 100%;
    display: block;
}
/*PRICE TAGS*/
.fondo{
    /*background-image: url("/images/fondo.png");*/
 }
.priceMax{
    border: 4px solid black;
    border-radius: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color:black;
    font-weight: bold;
    font-size: 35px;
    padding: 30px;
    margin-top: 170px;
    height: 270px;
}
.pricebox {
    display: flex;
    justify-content: center;
    width: 300px;
    height: 200px;
    border-radius: 50px;
    background-image: url("/images/fondo_estrellas.png");
    background-repeat: repeat;
    background-size: 500px;
    border: 5px white solid;
    font-size: 50px ;
    font-weight: bold;/*
    box-shadow: 1px 1px 0 0 black,
    2px 2px 0 0 black,
    3px 3px 0 0 black,
    5px 5px 0 0 black,
    6px 6px 0 0 black*/
}

/*CIRCULOS*/
.circulos {/*
    border: 4px solid black;*/
    border-radius: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: Georgia;
    font-weight: bold;/*
    text-shadow: -2px -2px 0px black, 2px -2px 0px black, -2px 2px 0px black, 2px 2px 0px black;*/
    font-size: 45px;
    padding: 10px;
    
}
.circulos a{
    text-decoration: none;
    color: white;
    
}
.circulos p {
    margin: 10px;
}

#circulorojo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
    background-image: url("/images/airelibre.png");
    background-size: 250px;
    border-radius: 50px;
    transition: 200ms;
    border: 7px solid #e26057;
    font-family: 'Open Sans', sans-serif;
    margin-left: 30px;
    margin-right: 30px;
}
/*#e26057 rojo
#69e575 verde
#4b69bd azul
#e1d159 amarillo
*/
#circuloverde {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
    background-image: url("/images/videojuegos.png");
    background-size: 250px;
    border-radius: 50px;
    transition: 200ms;
    border: 7px solid #69e575;
    font-family: 'Open Sans', sans-serif;
    margin-left: 30px;
    margin-right: 30px;
}

#circuloazul {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
    background-image: url("/images/demesa.png");
    background-size: 250px;
    border-radius: 50px;
    transition: 200ms;
    border: 7px solid #4b69bd;
    font-family: 'Open Sans', sans-serif;
    margin-left: 30px;
    margin-right: 30px;
}

#circuloamarillo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
    background-image: url("/images/juguetes.png");
    background-size: 250px;
    border-radius: 50px;
    transition: 200ms;
    border: 7px solid #e1d159;
    font-family: 'Open Sans', sans-serif;
    margin-left: 30px;
    margin-right: 30px;
}

#circuloazul:hover,
#circulorojo:hover,
#circuloverde:hover,
#circuloamarillo:hover{
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
  width: 260px;
  height: 260px;

}

/*FOOTER*/
footer{
     background-color: #D9D9D9;
     padding: 30px 0;
     margin: auto;
}

footer section ul {
    margin-top: 20px;
}

footer section ul li {
    margin-top: 10px;
}

footer section ul li a {
    text-decoration: none;
    color: black;
}

.main-footer {
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

.main-footer section p {
    margin-top: 40px;
    font-size: 20px;
}

footer img{
    width: 122px;
}

.copyright {
    padding-top: 40px;
    margin: 0 auto;
}
  
.copyright p {
    text-align: center;
}
/* MENU PRODUCTO*/

.todolistar{
    display: flex;
    flex-wrap: wrap;
}
.filtros{
    background-color: #ebebeb;
    width: 220px;
    line-height: normal;
    list-style: none;
    padding: 15px;
    border-radius: 10px;
    justify-self: flex-start;
    margin-left: 30px;
    margin-top: 30px;
    position: fixed;
}
.filtros a{
    text-decoration: none;
    color: #000;
}
.filtros ul {
    font-size: 20px;
}
.categorias {
    margin-bottom: 30px;
}
.box-allproducts {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    /*background-color: #f5f4f4;*/
    justify-self: flex-end;
}

.box-product{
    margin: 30px;
    padding: 20px;
    box-shadow: #000;
    width: 260px;
    background-color: white;
    border-radius: 10px;
    border:1px solid rgb(148, 148, 148);
}
.box-product:hover{
    opacity: 0.7;

}
.titulomenu {
    padding: 20px;
    background-image: url("/images/titulofondi2.png");
    
    
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 50px;
}
.name{
    font-size:20px;
    text-align: center;
    height: 50px;
    
}
.box-product a{
    text-decoration: none;
    color: black;
}
.price{
    text-align:right;
    font-size: 20px;
   font-weight: bold;
    color: rgb(56, 56, 56);
    margin: 10px;
   
}
.description {
text-align: justify;
}
.imagelistar{
    display: flex;
    justify-content: center;
    width: 200px;
    height: 200px;
}
.add-cart{
 background-color: #00B212;
 border-radius: 20px;
 padding: 8px;
 color: white;
 text-decoration: none;
 font-size: 16px;
}
.idlistar {
    font-weight: bold;
}
.category{
    font-weight: bold;
}
/* DETALLE PRODUCTO*/
.box-product-detail{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}
.image-detail{
width: 350px;
height: 350px;
border-radius: 5px;
margin-left: 60px;
box-shadow: 0px 0px 10px 0px #FFE200;
}
.box1{
    margin: 10px;
}
.box2{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
   }
.name-detail{
    font-weight: bold;
font-size: 60px;
}
.price-detail{
font-size: 50px;
color: #00B212;
background-color: rgba(#00B212, #00B212, #00B212, 0.9);
font-weight: bold;
}
.description-detail {
    width: 535px;
    text-align: justify;
    line-height: 25px;
    margin-top: 20px;

}
.category-detail{
    color:  #0000DD;
    text-align: left;
    margin-left: 60px;
    margin-bottom: 13px;
}
.vermas {
    color: red;
    font-weight: bold;
    margin-bottom: 60px;
}
.rutas-productos{
    text-align: center;
    font-size: 30px;
    background-color: #e1d159;
    padding: 10px;
    margin: 50px;
    border-radius: 10px;
}

/* ERROR 404 */
.error404 {
    background-color: #FFE200;
}
.notfound, .error{
text-align: center;
text-decoration: solid;
}
/*USER PROFILE */

.userBox{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px;
    background-color:#D9D9D9;
    width: 400px;
    border-radius: 30px;
    padding: 40px;
}
.userHi {
    text-align: center;
color: #000;
background-color: #4b69bd;
}
.userImage{
    width: 200px;
    border-radius: 30px;
  align-items: center;
}
.seguircomprando{
background-color: #0000DD;
border-radius: 30px;
padding: 10px;
color: white;
text-decoration: none;
font-size: 20px;
width: 200px
}

/* MEDIA QUERIES */

@media (min-width: 361px) {
    
}

@media (min-width: 540px) {
    div.bottom-header {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    .burger-menu {
        display: none;
    }
}

@media (min-width: 769px) {
    .main-footer {
        display: flex;
        justify-content: space-around;
    }
    .main-footer section p {
        margin-top: 0px;
    }
    .bottom-header-right form {
        width: 50%;
    }
    .cart {
        display: block;
    }
    .button-cart{
        display: block;
    }
    i.bolsa {
        display: none;
    }
    
}

@media (min-width: 1100px) {
    #slider1_container{
        height: 400px!important;
    }
}

.jssorl-009-spin img {
    animation-name: jssorl-009-spin;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    }
    
    @keyframes jssorl-009-spin {
    from {
    transform: rotate(0deg);
    }
    
    to {
    transform: rotate(360deg);
    }
    }
    .jssorb031 {position:absolute;}
    .jssorb031 .i {position:absolute;cursor:pointer;}
    .jssorb031 .i .b {fill:#000;fill-opacity:0.5;stroke:#fff;stroke-width:1200;stroke-miterlimit:10;stroke-opacity:0.3;}
    .jssorb031 .i:hover .b {fill:#fff;fill-opacity:.7;stroke:#000;stroke-opacity:.5;}
    .jssorb031 .iav .b {fill:#fff;stroke:#000;fill-opacity:1;}
    .jssorb031 .i.idn {opacity:.3;}
    .jssora051 {display:block;position:absolute;cursor:pointer;}
    .jssora051 .a {fill:none;stroke:#fff;stroke-width:360;stroke-miterlimit:10;}
    .jssora051:hover {opacity:.8;}
    .jssora051.jssora051dn {opacity:.5;}
    .jssora051.jssora051ds {opacity:.3;pointer-events:none;}