/*colores:
amarillo #FFE200
rojo #F41809
azul #0000DD
verde #00B212
gris #D9D9D9
*/

body {
    font-family: comic sans-serif;
}

img {
    width: 3%;
}

.footerbox {
    background-color: #D9D9D9;
}

.nosotros {
    display: inline;
}

.ayuda {
    display: inline;
}

.contacto {
    display: inline;
}

.cajaazulnav {
    color: white;
    background-color: #0000DD;
}

#carrito {
    width: 30px;
}

.totalplata {
    color: black;
}

#ofertas {
    display: inline;
    color: white;
    background-color: #F41809;
}

#buscador {
    background-color: #D9D9D9;
}

#ingreso {
    display: inline;
    background-color: #FFE200;
}

.boton-registro {
    background-color: #FFE200;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.carrusel {
    width: 100%;
    display: block;
}
.circulos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
#circulorojo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    background-color: #F41809;
    border-radius: 50%;
    transition: 200ms;
}

#circuloverde {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    background-color:#00B212;
    border-radius: 50%;
    transition: 200ms;
}
#circuloazul {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    background-color:#0000DD;
    border-radius: 50%;
    transition: 200ms;
}

#circuloamarillo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    background-color:#FFE200;
    border-radius: 50%;
    transition: 200ms;
}
header  {
box-sizing: border-box;   
}

.logo {
    width: 25%;
}

.bloque-azul {
    background-color: blue;
    width: 75%;
    
}
div.top-header{
    display: flex;
    flex-wrap: wrap;
    
}
div.bottom-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}   
.buscador{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 10px;
}
   
.cart i{
    margin: 0px 10px;
}
.cart div{
    margin-right: 10px;
}

div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 25px;
    height: 40px;
   
    padding: 10px;
    width: 40px;
    text-align: center;
   
}

.fontAwesome {
    width: 85%;
    height: 27px ;
    font-family: 'Helvetica', FontAwesome, sans-serif;
  }

nav.bottom-header-right {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    align-items: center;
    justify-content: flex-end;
  
}

nav.bottom-header-right form {
width: 75%;  
}



.cart {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
}
#circuloazul:hover,
#circulorojo:hover,
#circuloverde:hover,
#circuloamarillo:hover{
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
  width: 215px;
  height: 215px;

}



  

